.mockData {
  h1 {
    color: green;
  }

  .productContainer {
    display: flex;

    .product {
      width: 200px;
      margin-right: 20px;
      // height: 500px;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
